<div class="container">
    
    <div class="row">
        
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="testOne">{{inputOne}}</label>
                <input type="text" class="form-control" id="testOne">
                <small class="helper">{{helperText}}</small>
                <div class="input-focus"></div>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="testTwo">{{inputTwo}}</label>
                <input type="text" class="form-control bordered" id="testTwo">
                <small class="helper">{{helperText}}</small>
                <div class="input-focus"></div>
            </div>
        </div>
        
    </div><!-- .row -->
    
    <br><br>
    
    <div class="row">
        
        <div class="col-md-3 col-md-offset-2">
            <input class="styled-checkbox" type="checkbox" id="checkbox1">
            <label for="checkbox1" class="styled-box norm"><span class="blip"></span>{{checkboxLabel}}</label>
        </div>
        
        <div class="col-md-3">
            <input class="styled-checkbox" type="checkbox" id="checkbox2">
            <label for="checkbox2" class="styled-box norm"><span class="blip"></span>{{checkboxLabel}}</label>
        </div>
        
        <div class="col-md-3">
            <input class="styled-checkbox" type="checkbox" id="checkbox3">
            <label for="checkbox3" class="styled-box norm"><span class="blip"></span>{{checkboxLabel}}</label>
        </div>
        
    </div><!-- .row -->
    
    <br><br>
    
    <div class="row">
        
        <div class="col-md-3 col-md-offset-2">
            <input type="radio" class="styled-radio" id="r1" name="radioTest">
            <label for="r1" class="norm"><span class="r-blip"></span>{{radioLabel}}</label>
        </div>
        
        <div class="col-md-3">
            <input type="radio" id="r2" class="styled-radio" name="radioTest">
            <label for="r2" class="norm"><span class="r-blip"></span>{{radioLabel}}</label>
        </div>
        
        <div class="col-md-3">
            <input type="radio" id="r3" class="styled-radio" name="radioTest">
            <label for="r3" class="norm"><span class="r-blip"></span>{{radioLabel}}</label>
        </div>
        
    </div><!-- .row -->
    
    <br><br>
    
    <div class="row">
        
        <div class="col-md-12">
            <div class="p-bar">
                <div class="p-bar-inner"></div>
            </div>
        </div>
        
    </div><!-- .row -->
    
    <br><br>
    
    <div class="row">
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <!-- IF `type="date"` THE MOBILE VERSION WILL OPEN WHEN SELECTED, HOWEVER THIS ALSO CAUSES THE SAME THING TO HAPPEN ON DESKTOP -->
                <input type="text" id="startDate" class="form-control">
                <div class="input-focus"></div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="startDateTwo" class="norm">HTML5 Datepicker</label>
                <input type="date" id="startDateTwo" class="form-control">
                <div class="input-focus"></div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <label for="startMonth" class="norm">Month</label>
                <input type="month" id="startMonth" class="form-control">
                <div class="input-focus"></div>
            </div>
        </div>
        
    </div><!-- row -->
    
    <br><br>
    
    <div class="row">
        
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="" role="tab">One</a></li>
                <li role="presentation"><a href="" role="tab">Two</a></li>
                <li role="presentation"><a href="" role="tab">Three</a></li>
                <div class="tab-follower"></div>
            </ul>
        </div>
        
    </div><!-- .row -->
    
<!-- =======TABLE======== -->
    
    <div class="row">
        
        <div class="col-md-12">
            <h4>Table highlight option with background</h4>
            <table class="table table-bordered">
                <tr class="disabled">
                    <th>One</th>
                    <th>Two</th>
                    <th>Three</th>
                    <th>Four</th>
                </tr>
                <tr>
                    <td>One</td>
                    <td>Two</td>
                    <td>Three</td>
                    <td>Four</td>
                </tr>
                <tr>
                    <td>One</td>
                    <td>Two</td>
                    <td>Three</td>
                    <td>Four</td>
                </tr>
                <tr>
                    <td>One</td>
                    <td>Two</td>
                    <td>Three</td>
                    <td>Four</td>
                </tr>
                <tr>
                    <td>One</td>
                    <td>Two</td>
                    <td>Three</td>
                    <td>Four</td>
                </tr>
            </table>
        </div>
        
    </div><!-- .row -->
    
    
</div>


