/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-theme.min.css";

body, html {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

*[primary] {
    background: rgba(0,150,255,0.8);
}